{% extends "base.html" %}

{% block content %}

<h3>Профиль</h3>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Сохранить</button>
</form>

<h3>Вес голоса</h3>
<table border=1>
<tr><td>Дата увеличения веса</td><td>Голосов</td></tr>
{% for voices_row in user.get_active_paid_voices %}
<tr><td>{{ voices_row.pay_date }}</td><td>{{ voices_row.voices }}</td></tr>
{% endfor %}
<tr><td><b>Итого:</b></td><td><b>{{ user.get_total_paid_voices }}</b></td></tr>
</table>

{% if user.get_money_balance > 0 %}
<p><a href="{% url 'get_voice' %}">Увеличить вес голоса</a></p>
{% endif %}

<h3>Баланс денег</h3>
<p>Остаток денег: {{ user.get_money_balance }}</p>

<iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/shop.xml?account=41001550415485&quickpay=shop&payment-type-choice=on&writer=seller&targets=%D0%94%D0%BE%D0%B1%D1%80%D0%BE%D0%B2%D0%BE%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5+%D0%BF%D0%BE%D0%B6%D0%B5%D1%80%D1%82%D0%B2%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5+%D0%BD%D0%B0+%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D1%83+oblako.progressa.ru&targets-hint=&default-sum=100&button-text=03&mail=on&successURL=https%3A%2F%2Foblako.progressa.ru%2Faccounts%2Fprofile" width="450" height="213"></iframe>
{% endblock %}
